/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/.vs/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd

/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
/Assets/Plugins/Editor/JetBrains/*
/Assets/Plugins/Editor/JetBrains.meta
/.idea/*
/Logs/*
AssetBundles/
.obsidian
AssetBundle
*.apk
/Assets/GUI PRO Kit - Fantasy RPG/
/Assets/GUI PRO Kit - Simple Casual/
/Assets/Loxodon Framework Samples/
/Assets/ExportSprite/
/Assets/Plugins/FairyGUI/Examples/
.vsconfig
/.plastic/
/.vscode/
/Assets/_TerrainAutoUpgrade/
/Behavior Designer-source/
/Assets/Plugins/LoxodonFramework/Docs/
/Assets/Plugins/LoxodonFramework/Editor/
/Assets/Plugins/LoxodonFramework/FairyGUI/
/Assets/Plugins/LoxodonFramework/Resources/
/Assets/Plugins/Jint.2.11.58/
/永恒的冒险_BackUpThisFolder_ButDontShipItWithYourGame/
/多余的资源/
/MapleStory-resurrected_BurstDebugInformation_DoNotShip/
